<%= form_for(@commercial_lead) do |f| %>
  <% if @commercial_lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commercial_lead.errors.count, "error") %> prohibited this commercial_lead from being saved:</h2>

      <ul>
      <% @commercial_lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="actions">
      <%= f.submit :Submit, class: "btn btn-default" %>
    </div>
    <hr>
    <div class="row">
      <h2>Status Info</h2>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :status %><br>
          <%= f.collection_select :status_id, Status.all, :id, :name %>
        </div>
        <div class="field">
          <%= f.label :initial_contact %><br>
          <%= f.datetime_select :initial_contact, ampm: true %>
        </div>
        <div class="field">
          <%= f.label :initial_response %><br>
          <%= f.datetime_select :initial_response, ampm: true %>
        </div> 
      </div>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :contact_method %><br>
          <%= f.collection_select :contact_method_id, ContactMethod.all, :id, :name %>
        </div>
        <div class="field">
          <%= f.label :source %><br>
          <%= f.collection_select :source_id, Source.all, :id, :name %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h2>Contact Info</h2>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name %>
        </div>
        <div class="field">
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :phone %><br>
          <%= f.text_field :phone %>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.collection_select :broker_id, Broker.order('first_name ASC'), :id, :broker_full_name, { prompt: 'Select a Broker' }, {:include_blank => true} %>
        <%= link_to "Add New Broker", new_broker_path, target: :_blank, class: "btn btn-primary" %><br><br>
      
      </div>
    </div>
    <hr>
    <div class="row">
      <h2>Space Requirements</h2>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :use_type %><br>
          <%= f.collection_select :use_type_id, UseType.all, :id, :name %>
        </div>
        <div class="field">
          <%= f.label :use %><br>
          <%= f.text_field :use %>
        </div>
        <div class="field">
          <%= f.label :occupancy_date %><br>
          <%= f.date_field :occupancy_date, :include_blank => true  %>
        </div>
        <div class="field">
          <%= f.label :size_min, "Size Minimum" %><br>
          <%= f.text_field :size_min %>
        </div>
        <div class="field">
          <%= f.label :size_max, "Size Maximum" %><br>
          <%= f.text_field :size_max %>
        </div>
        <div class="field">
          <%= f.label :budget_max %><br>
          <%= f.text_field :budget_max %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :properties_referenced %><br>
          <%= f.text_field :properties_referenced %>
        </div>
        <div class="field">
          <%= f.label :company_name %><br>
          <%= f.text_field :company_name %>
        </div>
        <div class="field">
          <%= f.label :website %><br>
          <%= f.text_field :website %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <h2>Appointment Info </h2>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :properties_suggested %><br>
          <%= f.text_area :properties_suggested %>
        </div>
        
        <div class="field">
          <%= f.label :notes %><br>
          <%= f.text_area :notes %>
        </div>
        <div class="field">
          <%= f.label :next_follow_up %><br>
          <%= f.date_field :next_follow_up, :include_blank => true  %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="field">
          <%= f.label :appointment_date %><br>
          <%= f.date_field :appointment_date, :include_blank => true %>
        </div>
        <div class="field">
          <%= f.label :properties_shown %><br>
          <%= f.text_area :properties_shown %>
        </div>
      </div>
    </div>
    </div>
    <br>
      <div class="actions">
        <%= f.submit :Submit, class: "btn btn-default" %>
      </div>
  <% end %>
</div>
  
