<div class="container">
    <h1>Commercial Leads</h1>

<div class="row">
  <div class="col-md-4">
  <%= form_tag search_commercial_leads_path, method: :get, role: "search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
  <% end %>
  <%= link_to "Show Active Prospects", commercial_leads_active_index_path, class: "btn btn-default" %>
  <%= link_to "Show All", commercial_leads_path, class: "btn btn-default" %><br><br>
  </div>
  
  <div class="col-md-5">
    
  <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Source <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Craigslist", commercial_leads_active_index_path(:source_id => "2") %></li>
        <li><%= link_to "LoopNet", commercial_leads_active_index_path(:source_id => "3") %></li>
        <li><%= link_to "CityFeet", commercial_leads_active_index_path(:source_id => "9") %></li>
        <li><%= link_to "Referral", commercial_leads_active_index_path(:source_id => "5") %></li>
        <li><%= link_to "Broker", commercial_leads_active_index_path(:source_id => "4") %></li>
        <li><%= link_to "CoStar", commercial_leads_active_index_path(:source_id => "7") %></li>
        <li><%= link_to "Current/Past Tenant", commercial_leads_active_index_path(:source_id=> "8") %></li>
        <li><%= link_to "Unknown", commercial_leads_active_index_path(:source_id => "1") %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "All Commercial Leads", commercial_leads_active_index_path %></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Status <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Current", commercial_leads_active_index_path(:status => "Current") %></li>
        <li><%= link_to "Waiting", commercial_leads_active_index_path(:status => "Waiting") %></li>
        <li><%= link_to "Application", commercial_leads_active_index_path(:status => "Application") %></li>
        <li><%= link_to "Signed", commercial_leads_active_index_path(:status => "Signed") %></li>
        <li><%= link_to "Not a Good Fit", commercial_leads_active_index_path(:status => "Not a Good Fit") %></li>
        <li><%= link_to "Rented Elsewhere", commercial_leads_active_index_path(:status => "Elsewhere") %></li>
        <li><%= link_to "No Options", commercial_leads_active_index_path(:status => "No Options") %></li>
        <li><%= link_to "Unknown", commercial_leads_active_index_path(:status => "") %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "All Commercial Leads", commercial_leads_path %></li>
      </ul>
    </div>
    
  </div>
  <div class="col-md-3">
    <p>
    Download: 
    <%= link_to "CSV", commercial_leads_path(format: "csv") %> |
    <%= link_to "Excel", commercial_leads_path(format: "xls") %>
  </p>
  </div>  
</div>
  <br>

  <%= link_to new_commercial_lead_path, class: "btn btn-success" do %>
    <span class="glyphicon glyphicon-plus"></span> New Commercial Lead
  <% end %>

  <br>
  <br>
  

<!--    <h1>Commercial Leads</h1>

    <%= content_tag :div, "", id: "commercial_leads_chart", data: {commercial_leads: @commercial_leads} %>
    <br>
    <br>
    <br>
    <hr> -->

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sortable "contact_date" %></th>
        <th><%= sortable "occupancy_date" %></th>  
        <th><%= sortable "next_follow_up", "Next Follow Up" %></th>
        <th><%= sortable "status" %></th>
        <th><%= sortable "first_name", "Name" %></th>
        <th><%= sortable "source" %></th>
        <th><%= sortable "broker" %></th>
        <th><%= sortable "use" %></th>
        <th><%= sortable "appointment_date" %></th>
        <th><%= sortable "notes" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @commercial_leads.where(follow_up: true).each do |commercial_lead| %>
        <tr>
          
          <td><%= commercial_lead.contact_date.strftime("%m/%d/%Y") %></td>
          <td><%= commercial_lead.occupancy_date.try(:strftime, "%m/%d/%Y") %></td>
          <td class="danger"><%= commercial_lead.next_follow_up.try(:strftime, "%m/%d/%Y") %></td>
          <td><% if commercial_lead.status.present? %><%= commercial_lead.status.name %><% end %></td>
          <td><%= link_to "#{commercial_lead.first_name} #{commercial_lead.last_name}", commercial_lead %></td>
          <td><%= commercial_lead.source.name %></td>
          <td><% if commercial_lead.broker.present? %><%= link_to "#{commercial_lead.broker.first_name} #{commercial_lead.broker.last_name}", commercial_lead.broker %><% end %></td>
          <td><%= commercial_lead.use %></td>
          <td class="info"><%= commercial_lead.appointment_date.try(:strftime, "%m/%d/%Y") %></td> 
          <td>
            <% if commercial_lead.notes.length > 50 %>
              <%= truncate(commercial_lead.notes, length: 50) %>
              <%= link_to '...read more', '', class: "read-more-#{commercial_lead.id}" %>
              <script>
                $('.read-more-<%= commercial_lead.id %>').on('click', function(e) {
                  e.preventDefault()
                  $(this).parent().html('<%= escape_javascript commercial_lead.notes %>')
                })
              </script>
            <% else %>
              <%= commercial_lead.notes %>
            <% end %>
          </td>
          
          <td><%= link_to 'Delete', commercial_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  </tbody>
</table>

  <br>

  
</div>