<div class="container">
  <h1>Editing Commercial Lead</h1>

  <div>
    <%= link_to 'Show', @commercial_lead %> |
    <%= link_to 'Back', commercial_leads_path %>
  </div>
  <br>
  <%= render 'form' %>
  <br>
  <%= link_to 'Show', @commercial_lead %> |
  <%= link_to 'Back', commercial_leads_path %>

</div>