<div class="container">

  <%= form_tag search_commercial_leads_path, method: :get, role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
  <% end %>

  <%= link_to 'New Commercial lead', new_commercial_lead_path %>

  <br>
  <br>
  <p>
    Download: 
    <%= link_to "CSV", brokers_path(format: "csv") %> |
    <%= link_to "Excel", brokers_path(format: "xls") %>
  </p>

  <h1>Commercial Leads</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sortable "contact_date" %></th>
        <th><%= sortable "first_name", "Name" %></th>
        <th><%= sortable "broker" %></th>
        <th><%= sortable "use" %></th>
        <th><%= sortable "properties_referenced" %></th>
        <th><%= sortable "properties_suggested" %></th>
        <th><%= sortable "appointment_date" %></th>
        <th><%= sortable "properties_shown" %></th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @commercial_leads.each do |commercial_lead| %>
        <tr>
          <td><%= commercial_lead.contact_date.strftime("%m/%d/%Y") %></td>
          <td><%= link_to "#{commercial_lead.first_name} #{commercial_lead.last_name}", commercial_lead %></td>
          <td><%= commercial_lead.broker %></td>
          <td><%= commercial_lead.use %></td>
          <td><%= commercial_lead.properties_referenced %></td>
          <td><%= commercial_lead.properties_suggested %></td>
          <td class="info"><%= commercial_lead.appointment_date.try(:strftime, "%m/%d/%Y") %></td>
          <td class="info"><%= commercial_lead.properties_shown %></td>

          
          <td><%= link_to 'Delete', commercial_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  </tbody>
</table>

  <br>

 
  
</div>