<div class="container">

  <%= link_to 'New Commercial lead', new_commercial_lead_path %>

  <%= form_tag search_commercial_leads_path, method: :get, role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

  <h1>Commercial Leads</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Contact Date</th>
        <th>Name</th>
        <th>Broker</th>
        <th>Use</th>
        <th>Properties Referenced</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @commercial_leads.each do |commercial_lead| %>
        <tr>
          <td><%= commercial_lead.contact_date.strftime("%m/%d/%Y") %></td>
          <td><%= commercial_lead.first_name %> <%= commercial_lead.last_name %></td>
          <td><%= commercial_lead.broker %></td>
          <td><%= commercial_lead.use %></td>
          <td><%= commercial_lead.properties_referenced %></td>

          <td><%= link_to 'Show', commercial_lead %></td>
          <td><%= link_to 'Edit', edit_commercial_lead_path(commercial_lead) %></td>
          <td><%= link_to 'Delete', commercial_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  </tbody>
</table>

  <br>

 
  
</div>