<div class="container">
   
   <p class="text-center hidden-print" >
     <%= link_to 'Back', commercial_leads_path %> |
     <%= link_to 'Edit', edit_commercial_lead_path(@commercial_lead) %> |
     <%= link_to 'Print', commercial_leads_path, :onclick => 'window.print();return false;' %>
   </p>



    <div class="row">
      <div class="col-md-8 col-sm-7 col-sm-offset-1 col-xs-6 col-xs-offset-1">
        <br>
        <br>

        <h2>Status & Tracking Info </h2>
        <dl class="dl-horizontal">
          <dt>Status:</dt>
          <dd><% if @commercial_lead.status.present? %><%= @commercial_lead.status.name %><% end %></dd>
          <dt>Initial Contact Date:</dt>
          <dd><%= @commercial_lead.initial_contact.try(:strftime, "%B %e, %Y %l:%M %p") %></dd>
          <dt>Response Date:</dt>
          <dd><%= @commercial_lead.initial_response.try(:strftime, "%B %e, %Y %l:%M %p") %></dd>
          <dt>Contact Method:</dt>
          <dd><% if @commercial_lead.contact_method.present? %><%= @commercial_lead.contact_method.name %><% end %></dd>
          <dt>Contact Source:</dt>
          <dd><% if @commercial_lead.source.present? %><%= @commercial_lead.source.name %><% end %></dd>
        </dl>

        <h2>Contact Info </h2>
        <dl class="dl-horizontal">
          <dt>Primary Contact:</dt>
          <dd><%= @commercial_lead.first_name %> <%= @commercial_lead.last_name %></dd>
          <dt>Phone:</dt>
          <dd><%= @commercial_lead.phone %></dd>
          <dt>Email:</dt>
          <dd><%= @commercial_lead.email %></dd>
          <dt>Broker:</dt>
          <dd><% if @commercial_lead.broker.present? %><%= link_to "#{@commercial_lead.broker.first_name} #{@commercial_lead.broker.last_name}", @commercial_lead.broker %><% end %>
          </dd>
        </dl>

        <h2>Space Requirements</h2>
        <dl class="dl-horizontal">
          <dt>Use Type:</dt>
          <dd><% if @commercial_lead.use_type.present? %><%= @commercial_lead.use_type.name %><% end %></dd>
          <dt>Use:</dt>
          <dd><%= @commercial_lead.use %></dd>
          <dt>Company:</dt>
          <dd><%= @commercial_lead.company_name %></dd>
          <dt>Website:</dt>
          <dd><%= markdown@commercial_lead.website %></dd>
          <dt>Occupancy Date:</dt>
          <dd><%= @commercial_lead.occupancy_date.try(:strftime, "%m/%d/%Y") %></dd>
          <dt>Square Footage:</dt>
          <dd><%= @commercial_lead.size_min %> - <%= @commercial_lead.size_max %> sq ft</dd>
          <dt>Max Budget:</dt>
          <dd>$<%= @commercial_lead.budget_max %></dd>
          <hr>
          <dt>Description:</dt>
          <dd><%= markdown@commercial_lead.description %></dd>
          <hr>
          <dt>Properties Referenced:</dt>
          <dd><%= markdown@commercial_lead.properties_referenced %></dd>
          <hr>
          <dt>Next Follow Up:</dt>
          <dd><%= @commercial_lead.next_follow_up.try(:strftime, "%m/%d/%Y") %></dd>
          <dt>Notes:</dt>
          <dd><%= markdown@commercial_lead.notes %></dd>
        </dl>          

        <h2>Appointment Info</h2>
        <dl class="dl-horizontal">
          <dt>Properties suggested:</dt>
          <dd><%= markdown@commercial_lead.properties_suggested %></dd>
          <dt>Appointment Date:</dt>
          <dd><%= @commercial_lead.appointment_date.try(:strftime, "%m/%d/%Y") %></dd>
          <dt>Properties Shown:</dt>
          <dd><%= markdown@commercial_lead.properties_shown %></dd>
        </dl>

      </div>
    </div>
   

<p class="text-center hidden-print">
  <%= link_to 'Back', commercial_leads_path %> |
  <%= link_to 'Edit', edit_commercial_lead_path(@commercial_lead) %>
  
</p>

</div>