<div class="container">
 <h2><%= @commercial_lead.first_name %> <%= @commercial_lead.last_name %>
        </h2>
  <div class="row">
    <div class="col-md-8">
      <dl class="dl-horizontal">
       
        <dt>Contact Date</dt>
        <dd><%= @commercial_lead.contact_date.strftime("%m/%d/%Y") %></dd>

        <dt>Max Budget</dt>
        <dd><%= @commercial_lead.budget_max %></dd>
        <dt>Occupancy Date</dt>
        <dd><%= @commercial_lead.occupancy_date %></dd>
        <dt>Size</dt>
        <dd><%= @commercial_lead.size %> sf</dd>
        <br>
        
        <dt>Use</dt>
        <dd><%= @commercial_lead.use %></dd>
        <dt>Company Name</dt>
        <dd><strong><%= @commercial_lead.company_name %></strong></dd>

        <dt>Description</dt>
        <dd><%= markdown@commercial_lead.description %></dd>

        <dt>Website</dt>
        <dd><%= markdown@commercial_lead.website %></dd>
        <br>
        <br>
        <dt>Properties referenced</dt>
        <dd><%= markdown@commercial_lead.properties_referenced %></dd>
      </dl>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
       <div class="panel-body">
          <div class="panel-heading">
           <h3 class="panel-title">Contact Info</h3>
          </div>
          <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd><%= @commercial_lead.email %></dd>
            <dt>Phone</dt>
            <dd><%= @commercial_lead.phone %></dd>
            <dt>Contact type</dt>
            <dd><%= @commercial_lead.contact_type %></dd>
            <dt>Source</dt>
            <dd><%= @commercial_lead.source %></dd>
            <dt>Broker<dt>
            <dd><%= @commercial_lead.broker %></dd>
          </dl>
       </div>
      </div>
    </div>
  </div>
  
<hr>
  <dl class="dl-horizontal">
    <dt>Appointment date</dt>
    <dd><%= @commercial_lead.appointment_date.try(:strftime, "%m/%d/%Y") %></dd>
    <dt>Properties suggested</dt>
    <dd><%= markdown@commercial_lead.properties_suggested %></dd>
    <dt>Properties shown</dt>
    <dd><%= @commercial_lead.properties_shown %></dd>
    <dt>Notes</dt>
    <dd><%= @commercial_lead.notes %></dd>
    <dt>Next Follow Date</dt>
    <dd><%= @commercial_lead.next_follow_up %></dd>
  </dl>

  <%= link_to 'Edit', edit_commercial_lead_path(@commercial_lead) %> |
  <%= link_to 'Back', commercial_leads_path %>

</div>