<div class="container">
   
   <p class="text-center hidden-print" >
     <%= link_to 'Back', commercial_leads_path %> |
     <%= link_to 'Edit', edit_commercial_lead_path(@commercial_lead) %> |
     <%= link_to 'Print', commercial_leads_path, :onclick => 'window.print();return false;' %>
   </p>
    <div class="row">
      <div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1  col-xs-6 col-xs-offset-1">
        <h3><u>Business Info</u></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-6 col-xs-offset-1">
         <!--  <strong>Current:</strong> <%= @commercial_lead.follow_up %><br> -->
        <strong>Status:</strong> <%= @commercial_lead.status %><br>
        <strong>Use: </strong><%= @commercial_lead.use %></br>
        <strong>Company Name: </strong><%= @commercial_lead.company_name %></br>
        <strong>Website: </strong><%= markdown@commercial_lead.website %><br>
          
        <strong>Description:</strong>
          <div class="well"> 
            <%= markdown@commercial_lead.description %>
          </div>
        <strong>Notes:</strong>
          <div class="well">
            <%= markdown@commercial_lead.notes %>
          </div>
      </div>
      <div class="col-md-3 col-s-3 col-xs-4">
        <h4>Contact Info</h4>
          <div class="well">
            <strong><%= @commercial_lead.first_name %> <%= @commercial_lead.last_name %></strong><br>
            <strong>Email: </strong><%= @commercial_lead.email %><br>
            <strong>Phone: </strong><%= @commercial_lead.phone %><br>
            <strong>Broker: </strong><%= @commercial_lead.broker %>
          </div>
          <h4>Specs</h4>
            <div class="well"> 
              <strong>Occupancy Date: </strong><%= @commercial_lead.occupancy_date %><br>
              <strong>Max Budget: </strong><%= @commercial_lead.budget_max %><br>
              <strong>Size: </strong><%= @commercial_lead.size %> sf<br>
              <strong>Properties Referenced:</strong> <%= markdown@commercial_lead.properties_referenced %>
            </div>
          <h4>Tracking Info</h4>
            <div class="well">
              First Contact: <%= @commercial_lead.contact_date.strftime("%m/%d/%Y") %><br>
              Contact Type: <%= @commercial_lead.contact_type %><br>
              Source: <%= @commercial_lead.source %><br>
            </div>
          </div>
      </div>
      <hr class="hidden-print">
      <div class="row hidden-print">
        <div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1  col-xs-6 col-xs-offset-1">
          <h3><u>Appointment Info</u></h3>
            <strong>Properties suggested:</strong>
              <div class="well">   
              <%= markdown@commercial_lead.properties_suggested %>
              </div>
            <strong>Appointment date:</strong>
              <div class="well"> 
              <%= @commercial_lead.appointment_date.try(:strftime, "%m/%d/%Y") %>
              </div>
            <strong>Properties shown:</strong>
              <div class="well"> 
              <%= markdown@commercial_lead.properties_shown %>
              </div>
           
          </div>
     
</div>
   

<p class="text-center hidden-print">
  <%= link_to 'Back', commercial_leads_path %> |
  <%= link_to 'Edit', edit_commercial_lead_path(@commercial_lead) %>
  
</p>

</div>