<%= form_for (@residential_lead, @residential_application) do |f| %>
  

  <div class="field">
    <%= f.label :date_received %><br>
    <%= f.date_select :date_received %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br>
    <%= f.date_select :date_completed %>
  </div>
  <div class="field">
    <%= f.label :fee_paid %><br>
    <%= f.check_box :fee_paid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
