<p id="notice"><%= notice %></p>

<p>
  <strong>Date received:</strong>
  <%= @residential_application.date_received %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @residential_application.date_completed %>
</p>

<p>
  <strong>Fee paid:</strong>
  <%= @residential_application.fee_paid %>
</p>

<p>
  <strong>Residential lead:</strong>
  <%= @residential_application.residential_lead_id %>
</p>
<%= link_to 'Edit', edit_residential_application_path(@residential_application) %> |
<%= link_to 'Back', residential_applications_path %>
