<div class="container">
  <h2>
    <%= @property.name %>
  </h2>
  <p>
    <strong>Property Code:</strong>
    <%= @property.property_code %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @property.address %>
  </p>

  <p>
    <strong>Short Description:</strong>
    <%= markdown@property.short_description %>
  </p>
   <p>
    <strong>Medium Description:</strong>
    <%= markdown@property.medium_description %>
  </p>

  <p>
    <strong>Long Description:</strong>
    <%= markdown@property.description %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= markdown@property.notes %>
  </p>

<h3>Available Units</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Unit Number</th>
      <th>Square Footage</th>
      <th>Monthly Rent</th>
      <th>Per SF Rent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_units.each do |unit| %>
      <tr>
        <td><%= link_to unit.unit_number, unit %></td>
        <td><%= unit.sq_ft %></td>
        <td><% if unit.market_rent.present? %>$<%= unit.market_rent %><% end %></td>
        <td><% if unit.net_rent_min.present? %>$<%= unit.net_rent_min %> - $<%= unit.net_rent_max %><% end %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
      </tr>
    <% end %>
   </tbody>
  </table>
 <br>
 <br>

 <%= link_to "Add New Unit", new_unit_path(property_id: @property), class: "btn btn-warning" %><br><br>

  <%= link_to 'Edit', edit_property_path(@property) %> |
  <%= link_to 'Back', properties_path %>
</div>