<p id="notice"><%= notice %></p>

<p>
  <strong>Earliest move in:</strong>
  <%= @prequalification.earliest_move_in %>
</p>

<p>
  <strong>Latest move in:</strong>
  <%= @prequalification.latest_move_in %>
</p>

<p>
  <strong>Price min:</strong>
  <%= @prequalification.price_min %>
</p>

<p>
  <strong>Price max:</strong>
  <%= @prequalification.price_max %>
</p>

<p>
  <strong>People:</strong>
  <%= @prequalification.people %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @prequalification.pets %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @prequalification.profession %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @prequalification.employer %>
</p>

<p>
  <strong>Income:</strong>
  <%= @prequalification.income %>
</p>

<p>
  <strong>Combined income:</strong>
  <%= @prequalification.combined_income %>
</p>

<p>
  <strong>Preference:</strong>
  <%= @prequalification.preference %>
</p>

<p>
  <strong>Preferences:</strong>
  <%= @prequalification.preferences %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @prequalification.availability %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @prequalification.smoker %>
</p>

<p>
  <strong>Prequalification date:</strong>
  <%= @prequalification.prequalification_date %>
</p>

<p>
  <strong>Residential lead:</strong>
  <%= @prequalification.residential_lead %>
</p>

<%= link_to 'Edit', edit_prequalification_path(@prequalification) %> |
<%= link_to 'Back', prequalifications_path %>
