
  <div class="jumbotron jumbotron-home">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
          <br>
          <br>
          <h1>CRM</h1>
          <br>
          <%= link_to "Commercial Leads", active_commercial_leads_path, class: "btn btn-info btn-lg" %>
          <%= link_to "Brokers", brokers_path, class: "btn btn-info btn-lg" %><br><br>
          <hr>
          <%= link_to "Residential Leads", residential_leads_path, class: "btn btn-info btn-lg" %>
          <br><br>
          <hr>
          
          <%= link_to "Available Units", pages_available_units_path, class: "btn btn-info btn-lg" %>
          <hr>
          <%= link_to "Units", units_path, class: "btn btn-info btn-lg" %> <%= link_to "Properties", properties_path, class: "btn btn-info btn-lg" %>
        </div>
      </div>
    </div>
  </div>    
</div>