<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.collection_select(:property_id, Property.all, :id, :name, {:include_blank => true} )%>

  <div class="field">
    <%= f.label :unit_number %><br>
    <%= f.text_field :unit_number %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.check_box :available %>
  </div>
  <div class="field">
    <%= f.label :sq_ft %><br>
    <%= f.text_field :sq_ft %>
  </div>
  <div class="field">
    <%= f.label :market_rent %><br>
    <%= f.text_field :market_rent %>
  </div>
  <div class="field">
    <%= f.label :laundry %><br>
    <%= f.text_field :laundry %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_area :features %>
  </div>
   <div class="field">
    <%= f.label :bedroom %><br>
    <%= f.text_field :bedroom %>
  </div>
  <div class="field">
    <%= f.label :bathroom %><br>
    <%= f.text_field :bathroom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
