<div class="container">

  <p>
    <h1><%= @unit.unit_number %></h1>
  </p>

  <p>
  <strong>Available?</strong>
  <%= @unit.available %>
  </p>
  
  <p><strong>$<%= @unit.market_rent %> | 
    <%= @unit.sq_ft %> sq ft</strong>
  </p>
  <p><strong><%= @unit.bedroom %> bedroom | 
    <%= @unit.bathroom %> bath</strong>
  </p>

  <p>
    <strong>Laundry:</strong>
    <%= @unit.laundry %>
  </p>

  <p>
    <strong><u>About</u></strong>
    <%= markdown(@unit.short_description) %>
  </p>

  <p>
    <strong><u>Features</u></strong>
    <%= markdown(@unit.features) %>
  </p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'All Units', units_path %>
</div>
