<div class="container">

  <p>
    <h1><% if @unit.property.present? %><%= @unit.property.name %><% else %> No Property Yet<% end %> - <%= @unit.unit_number %></h1>
  </p>

  <p>
  <strong>Available:</strong>
  <%= human_boolean@unit.available %>
  </p>
  
  <p><strong>Square Footage:</strong>
    <%= @unit.sq_ft %>
  </p>

  <p><strong>Lease Type:</strong> 
    <%= @unit.lease_type %>
  </p>

  <p><strong>Monthly Rent:</strong> 
    $<%= @unit.market_rent %>
  </p>

  <p><strong>Rent per SF:</strong> 
    $<%= @unit.net_rent_min %> - $<%= @unit.net_rent_max %>
  </p>

  <p><strong><%= @unit.bedroom %> bedroom | 
    <%= @unit.bathroom %> bath</strong>
  </p>

  <p>
    <strong>Laundry:</strong>
    <%= @unit.laundry %>
  </p>

  <p>
    <strong><u>About</u></strong>
    <%= markdown(@unit.short_description) %>
  </p>

  <p>
    <strong><u>Features</u></strong>
    <%= markdown(@unit.features) %>
  </p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'All Units', units_path %>
</div>
