<%= form_for(@residential_lead) do |f| %>
  <% if @residential_lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@residential_lead.errors.count, "error") %> prohibited this residential_lead from being saved:</h2>

      <ul>
      <% @residential_lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_date %><br>
    <%= f.date_select :contact_date %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :properties_referenced %><br>
    <%= f.text_area :properties_referenced %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>
   <div class="field">
    <%= f.label :contact_type %><br>
    <%= f.text_field :contact_type %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>

  <hr>

  <strong>Prequalification:<strong>
    <br>
    <%= f.fields_for :prequalifications do |prequalification_form| %>
      <div class="field">
        <%= prequalification_form.label :qualification_on_file %>
        <%= prequalification_form.text_field :qualification_on_file %>
      </div>

      <div class="field">
        <%= prequalification_form.label :earliest_move_in %>
        <%= prequalification_form.date_select :earliest_move_in %>
      </div>
      <div class="field">
        <%= prequalification_form.label :latest_move_in %>
        <%= prequalification_form.date_select :latest_move_in %>
      </div>
      <div class="field">
        <%= prequalification_form.label :price_min %><br>
        <%= prequalification_form.text_field :price_min %>
      </div>
      <div class="field">
        <%= prequalification_form.label :price_max %><br>
        <%= prequalification_form.text_field :price_max %>
      </div>
      <div class="field">
        <%= prequalification_form.label :people %><br>
        <%= prequalification_form.text_field :people %>
      </div>
        <div class="field">
          <%= prequalification_form.label :pets %><br>
        <%= prequalification_form.text_area :pets %>
      </div>
      <div class="field">
          <%= prequalification_form.label :profession %><br>
        <%= prequalification_form.text_field :profession %>
      </div>
      <div class="field">
          <%= prequalification_form.label :employer %><br>
        <%= prequalification_form.text_field :employer %>
      </div>

      <div class="field">
          <%= prequalification_form.label :income %><br>
        <%= prequalification_form.text_field :income %>
      </div>

      <div class="field">
          <%= prequalification_form.label :combined_income %><br>
        <%= prequalification_form.text_field :combined_income %>
      </div>
      <div class="field">
          <%= prequalification_form.label :availability %><br>
        <%= prequalification_form.text_area :availability %>
      </div>

    <% end %>
 
<hr>

  <strong>Residential Applications:<strong>

    <%= f.fields_for :residential_applications do |applications_form| %>
      <div class="field">
        <%= applications_form.label :date_received %><br>
        <%= applications_form.date_select :date_received %>
      </div>
        <div class="field">
          <%= applications_form.label :date_completed %><br>
        <%= applications_form.date_select :date_completed %>
      </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
