<div class="container">

  <p id="notice"><%= notice %></p>

  

  <%= link_to 'New Residential lead', new_residential_lead_path %>

  <%= form_tag residential_leads_path, :method => "get", id: "search-form", role: "search" do %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "Search" %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
    
    <h1>Residential Leads</h1>

    <table class="table">
    <thead>
      <tr>
        <th>Contact Date</th>
        <th>Name</th>
        <th>Properties Referenced</th>
        <th>Contact Type</th>
        <th>Source</th>
      </tr>
    </thead>

    <tbody>
      <% @residential_leads.each do |residential_lead| %>
        <tr>
          <td><%= residential_lead.contact_date.strftime("%m/%d/%Y") %></td>
          <td><%= residential_lead.first_name %> 
          <%= residential_lead.last_name %></td>
          <td><%= residential_lead.properties_referenced %></td>
          <td><%= residential_lead.contact_type %></td>
          <td><%= residential_lead.source %></td>
          <td><%= link_to 'Show', residential_lead %></td>
          <td><%= link_to 'Edit', edit_residential_lead_path(residential_lead) %></td>
          <td><%= link_to 'Destroy', residential_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
        <tr>
      <% end %>
    </tbody>
  </table>
           
        
    
      
 

  <br>



</div>