<div class="container">
  

  <%= link_to 'New Residential lead', new_residential_lead_path %>

  <%= form_tag search_residential_leads_path, method: :get, role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

      <%= link_to "All Residential Leads", residential_leads_path %>
    
    <h1>Residential Leads</h1>

    <table class="table table-hover">
    <thead>
      <tr>
        <th>Contact Date</th>
        <th>Name</th>
        <th>Properties Referenced</th>
        <th>Price Max</th>
        <th>Latest Move-In</th>
        <th>Appointment Date</th>
      </tr>
    </thead>

    <tbody>
      <% @residential_leads.each do |residential_lead| %>
        <tr>
          <td><%= residential_lead.contact_date.strftime("%m/%d/%Y") %></td>
          <td><%= residential_lead.first_name %> 
          <%= residential_lead.last_name %></td>
          <td><%= residential_lead.properties_referenced %></td>
          <td>$<%= residential_lead.price_max %></td>
          <td><%= residential_lead.latest_move_in.try(:strftime, "%m/%d/%Y") %></td>
          <td class="info"><%= residential_lead.appointment_date.try(:strftime, "%m/%d/%Y") %></td>
          <td><%= link_to 'Show', residential_lead %></td>
          <td><%= link_to 'Edit', edit_residential_lead_path(residential_lead) %></td>
          <td><%= link_to 'Destroy', residential_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
        <tr>
      <% end %>
    </tbody>
  </table>
           
        
    
      
 

  <br>



</div>