<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    <%= @residential_lead.first_name %> <%= @residential_lead.last_name %>
  </h3>
  <p>
    <strong>Contact Date:</strong>
    <%= @residential_lead.contact_date.strftime("%A, %b %d") %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @residential_lead.email %>
  <br>
    <strong>Phone:</strong>
    <%= @residential_lead.phone %>
  </p>
  
  <p>
    <strong>People:</strong>
    <%= @residential_lead.people %>
  </p>
  <p>
    <strong>Pets:</strong>
    <%= @residential_lead.pets %>
  </p>
  <p>
    <strong>Properties referenced:</strong>
    <%= @residential_lead.properties_referenced %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= markdown(@residential_lead.notes) %>
  </p>

<hr>
  
  <p>
    <strong>Profession:</strong>
    <%= @residential_lead.profession %>
  </p>
  <p>
    <strong>Employer:</strong>
    <%= @residential_lead.employer %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= @residential_lead.source %>
  </p>
   <p>
    <strong>Contact type:</strong>
    <%= @residential_lead.contact_type %>
  </p>
  <hr>

<h4>Prequalification on File:</h4>
<% @residential_lead.prequalifications.each do |prequalification| %>
  <p>
    <strong>Prequalification on File:</strong>
    <%= prequalification.prequalification on file %>
  </p>
  <p>
    <strong>Move-In Range:</strong>
    <%= prequalification.earliest_move_in.strftime("%m/%d/%Y") %> - 

    <%= prequalification.latest_move_in.strftime("%m/%d/%Y") %>
  </p>
   <p>
    <strong>Price range:</strong>
    $<%= prequalification.price_min %> - $<%= prequalification.price_max %>
  </p>
  <p>
    <strong>People:</strong>
    <%= prequalification.people %>
  </p>
  <p>
    <strong>Pets:</strong>
    <%= prequalification.pets %>
  </p>
<p>
    <strong>Profession:</strong>
    <%= prequalification.profession %>
  </p>
  <p>
    <strong>Employer:</strong>
    <%= prequalification.employer %>
  </p>
  <p>
    <strong>Income:</strong>
    <%= prequalification.income %>
  </p>
  <p>
    <strong>Combined Income:</strong>
    <%= prequalification.combined_income %>
  </p>
  <p>
    <strong>Availability:</strong>
    <%= prequalification.availability %>
  </p>
<% end %>


<hr>
<h4>Application on File:</h4>
<% @residential_lead.residential_applications.each do |residential_application| %>
  <p>
    <strong>Date Received:</strong>
    <%= residential_application.date_received %>
  </p>
  <p>
    <strong>Date Completed:</strong>
    <%= residential_application.date_completed %>
  </p>


<% end %>
<hr>
<h4>Appoitments:</h4>

 <p>
    <strong>Appointment Date:</strong>
    <%= @residential_lead.appointment_date.strftime("%m/%d/%Y") %>
  </p>
  <p>
    <strong>Appointment Time:</strong>
    <%= @residential_lead.appointment_time.strftime("%l:%M %p") %>
  </p>
  <p>
    <strong>Spaces:</strong>
    <%= markdown(@residential_lead.spaces) %>
  </p>
  <p>
    <strong>Application On File?</strong>
    <%= @residential_lead.application_on_file ? 'yes' : 'no' %>
  </p>
  <% if @residential_lead.application_on_file %>
  <p>
    <strong>Application Date:</strong>
    <%= @residential_lead.application_date.strftime("%m/%d/%Y")  %>
  </p>
  <% end %>
  
<hr>
<br><br>
  <%= link_to 'Edit', edit_residential_lead_path(@residential_lead) %> |
  <%= link_to 'Back', residential_leads_path %>
</div>