<div class="container">

  <h3>
    <%= @residential_lead.first_name %> <%= @residential_lead.last_name %>
  </h3>
  <p>
    <%= link_to 'Edit', edit_residential_lead_path(@residential_lead) %> |
    <%= link_to 'Back', residential_leads_path %>
  </p>
  <p>
    <strong>First Contact Date:</strong>
    <%= @residential_lead.contact_date.strftime("%A, %b %d") %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @residential_lead.email %>
  <br>
    <strong>Phone:</strong>
    <%= @residential_lead.phone %>
  </p>
  <p>
    <strong>Properties referenced:</strong>
    <%= markdown@residential_lead.properties_referenced %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= markdown(@residential_lead.notes) %>
  </p>
<hr>
  <p>
    <strong>Status:</strong>
    <%= @residential_lead.status %>
  </p>
  <p>
    <strong>Appointment Date:</strong>
    <%= @residential_lead.appointment_date.try(:strftime, "%m/%d/%Y") %>
  </p>
<hr>
  <p>
    <strong>Move in Range:</strong>
    <%= @residential_lead.earliest_move_in.try(:strftime, "%m/%d/%Y") %> -
    <%= @residential_lead.latest_move_in.try(:strftime, "%m/%d/%Y") %>
  </p>
  <p>
    <strong>Price Range:</strong>
    $<%= @residential_lead.price_min %> -
    $<%= @residential_lead.price_max %>
  </p>
  <p>
    <strong>Preferences:</strong>
    <%= @residential_lead.preferences %>
  </p>
  <p>
    <strong>People:</strong>
    <%= @residential_lead.people %>
  </p>
  <p>
    <strong>Pets:</strong>
    <%= @residential_lead.pets %>
  </p>
  <p>
    <strong>Profession:</strong>
    <%= @residential_lead.profession %>
  </p>
  <p>
    <strong>Artist?</strong>
    <%= @residential_lead.is_artist %>
  </p>
  <p>
    <strong>Anything necessary for creating?</strong>
        <%= @residential_lead.art_description %>
  </p>
<hr>
  <p>
    <strong>Showing Availability:</strong>
    <%= @residential_lead.availability %>
  </p>
  <p>
    <strong>Source:</strong>
    <%= @residential_lead.source %>
  </p>
   <p>
    <strong>Contact type:</strong>
    <%= @residential_lead.contact_type %>
  </p>

  <hr>
  <p>
    <strong>Income:</strong>
    <%= @residential_lead.income %>
  </p>
  <p>
    <strong>Combined Income:</strong>
    <%= @residential_lead.combined_income %>
  </p>
  <p>
    <strong>Credit Score:</strong>
    <%= @residential_lead.credit_score %>
  </p>
  
<br><br>
  <%= link_to 'Edit', edit_residential_lead_path(@residential_lead) %> |
  <%= link_to 'Back', residential_leads_path %>
</div>