<div class="container">

<div class="row">
  <div class="col-md-4">
    <%= form_tag search_brokers_path, method: :get, role: "search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
    <% end %>
    <%= link_to "Show All", brokers_path, class: "btn btn-default" %>
  </div>
  <div class="col-md-5">
  </div>
  <div class="col-md-3">
    <p>
    Download: 
    <%= link_to "CSV", brokers_path(format: "csv") %> |
    <%= link_to "Excel", brokers_path(format: "xls") %>
    </p>
  </div>
</div>
<br>
<br>
<%= link_to new_broker_path, class: "btn btn-success" do %>
  <span class="glyphicon glyphicon-plus"></span> New Broker
<% end %>
<br>
<br>

<h1>Listing Brokers</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Broker Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Direct Phone</th>
        <th>Company</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @brokers.each do |broker| %>
        <tr>
          <td><%= link_to "#{broker.first_name} #{broker.last_name}", broker %></td>
        <td><%= broker.email %></td>
        <td><%= broker.mobile %></td>
        <td><%= broker.direct_phone %></td>
        <td><%= broker.company %></td>
  
        <td><%= link_to 'Delete', broker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  </tbody>
</table>
<br>

<%= link_to new_broker_path, class: "btn btn-success" do %>
  <span class="glyphicon glyphicon-plus"></span> New Broker
<% end %>
