<div class="container">
  <p class="text-center">
  <h2><%= @broker.first_name %> <%= @broker.last_name %>
        </h2>
    
      <%= link_to 'Edit', edit_broker_path(@broker) %> |
      <%= link_to 'Back', brokers_path %>
    

  <dl class="dl-horizontal">   
    <dt>Email</dt>
    <dd><%= @broker.email %></dd>

    <dt>Mobile</dt>
    <dd><%= @broker.mobile %></dd>

    <dt>Direct phone</dt>
    <dd><%= @broker.direct_phone %></dd>

    <dt>Company</dt>
    <dd><%= @broker.company %></dd>

    <dt>Address</dt>
    <dd><%= @broker.address %></dd>

    <dt>City</dt>
    <dd><%= @broker.city %></dd>

    <dt>Zip</dt>
    <dd><%= @broker.zip %></dd>
  </dl>
</p>


</div>