<div class="container">

<%= link_to 'New Available unit', new_available_unit_path %>

<%= form_tag search_available_units_path, method: :get, role: "search" do %>
        <p>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

<h1>Listing Available Units</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= sortable "lease_end_date" %></th>
        <th><%= sortable "unit_id", "Unit" %></th>
        <th><%= sortable "sq_ft" %></th>
        <th><%= sortable "market_rent" %></th>

        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @available_units.each do |available_unit| %>
        <tr>
          <td><%= available_unit.lease_end_date %></td>
          <td><%= available_unit.unit_id %></td>
          <td><%= available_unit.sq_ft %></td>
          <td><%= available_unit.market_rent %></td>

          <td><%= link_to 'Show', available_unit %></td>
          <td><%= link_to 'Edit', edit_available_unit_path(available_unit) %></td>
          <td><%= link_to 'Delete', available_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Available unit', new_available_unit_path %>

</div>