<div class="container">

<div class="row">
  <div class="col-md-8">

    <p>
      <h1><%= @available_unit.unit_id %> <small><%= @available_unit.lease_end_date.strftime("%m/%d/%Y") %></small></h1>
    </p>
    <p>
      <%= @available_unit.address %>
    </p>

    <p><strong><%= @available_unit.bedroom %> bedroom | 
      <%= @available_unit.bathroom %> bath</strong></p>


    <p><strong>$<%= @available_unit.market_rent %> | 
      <%= @available_unit.sq_ft %> sq ft</strong></p>

    <p>
      <strong>Laundry:</strong>
      <%= @available_unit.laundry %>
    </p>

  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="panel-heading">
          <h3 class="panel-title">Prospects</h3>
        </div>
        <%= markdown(@available_unit.prospects) %>
      </div>
    </div>
  </div>
</div>

<hr>
<br>
<h3>Craigslist Info</h3>

<br>
<p>
  <%= @available_unit.craigslist_title %>
</p>

<p>
  <strong><u>About</u></strong>
  <%= markdown(@available_unit.short_description) %>
</p>

<p>
  <strong><u>Features</u></strong>
  <%= markdown(@available_unit.features) %>
</p>

<%= link_to 'Edit', edit_available_unit_path(@available_unit) %> |
<%= link_to 'Back', available_units_path %>
</div>
