<div class="container">

  <p id="notice"><%= notice %></p>

<p>
  <h1><%= @available_unit.unit_id %></h1>
</p>
<p>
    <strong>Lease end date:</strong>
    <%= @available_unit.lease_end_date.strftime("%m/%d/%Y") %>
  </p>

<p><%= @available_unit.bedroom %> bedroom | 
  <%= @available_unit.bathroom %> bath</p>


<p>$<%= @available_unit.market_rent %> | 
  <%= @available_unit.sq_ft %> sq ft</p>

<p>
  <strong>Prospects:</strong>
  <%= @available_unit.prospects %>
</p>

<p>
  <strong>Laundry:</strong>
  <%= @available_unit.laundry %>
</p>

<p>
  <strong>Address:</strong>
  <%= @available_unit.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @available_unit.city %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @available_unit.zip %>
</p>

<hr>
<h3>Craigslist Info</h3>
<p>
  <strong>Craigslist title:</strong>
  <%= @available_unit.craigslist_title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @available_unit.short_description %>
</p>

<p>
  <strong>Features:</strong>
  <%= @available_unit.features %>
</p>

<%= link_to 'Edit', edit_available_unit_path(@available_unit) %> |
<%= link_to 'Back', available_units_path %>
</div>
